@import '../../../node_modules/bootstrap/scss/bootstrap-grid';

.page-gist-details {
    .ui.items:not(.unstackable) {
        > .item > .image {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
}