@import '../../node_modules/bootstrap/scss/bootstrap-grid';

.page-wrapper {
    padding-top: 124px;
    padding-bottom: 50px;

    @include media-breakpoint-up(md) {
        padding-top: 84px;
    }
}